<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin</title>
    <link rel="stylesheet" href="admin.css">
    
</head>

<body>
   

    <main class="table">
        <section class="table__header">
            <h1 style="color: white; padding-left: 20px;">Inventory</h1>

        </section>
        <section class="table__body">
            <table>
                <thead >
                    <tr>
                        <th> NAME <span class="icon-arrow">&UpArrow;</span></th>
                        <th> EXP_DATE <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="product:${products}" >
                    <td th:text = "*{product.getName()}"></td>
                    <td th:text = "*{product.getExpiration()}"></td>

                </tr>
                </tbody>
            </table>
        </section>
        
    </main>

    <script src="admin.js"></script>
</body>

</html>